{% extends 'base.html' %}
{% block body %}
<div class="">
    <h1>投稿編集</h1>
</div>
<div class="">
    <form action="{{ url_for('update_entry', name=entry.name, id=entry.id) }}" method="post">
        <div class="">
            <label for="title">タイトル</label>
            <input type="text" id="title" name="title" value="{{ entry.title }}">
        </div>
        <div class="">
            <label for="text">本文</label>
            <textarea name="text" id="text" cols="30" rows="10">{{ entry.text }}</textarea>
        </div>
        <button type="submit">更新</button>
    </form>
</div>
{% endblock %}