{% extends 'base.html' %}
{% block body %}
<div class="">
    <h1>新規投稿作成</h1>
</div>
<div class="">
    <form action="{{ url_for('add_entry') }}" method="post">
        <div class="">
            <label for="title">タイトル</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="">
            <label for="text">本文</label>
            <textarea name="text" id="text" cols="30" rows="10"></textarea>
        </div>
        <button type="submit">作成</button>
    </form>
</div>
{% endblock %}